@charset "utf-8";

$yellow: #FFCF0B;

::selection {
  background: none; // WebKit/Blink Browsers 
}

// typefaces, fonts

@font-face {
  font-family: 'LubalinGraphStd-Demi';
          src: url('webfonts/3336A8_0_0.eot');
          src: url('webfonts/3336A8_0_0.eot?#iefix') format('embedded-opentype'),
               url('webfonts/3336A8_0_0.woff2') format('woff2'),
               url('webfonts/3336A8_0_0.woff') format('woff'),
               url('webfonts/3336A8_0_0.ttf') format('truetype');
}

$graph-demi: "LubalinGraphStd-Demi", serif;

@font-face {
  font-family: 'LubalinGraphStd-Book';
    src: url('webfonts/3336A8_1_0.eot');
    src: url('webfonts/3336A8_1_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/3336A8_1_0.woff2') format('woff2'),
         url('webfonts/3336A8_1_0.woff') format('woff'),
         url('webfonts/3336A8_1_0.ttf') format('truetype');
}

$graph: 'LubalinGraphStd-Book', serif;

html,body {
  // width: 100%;
  // height: 100%;
  background-color: $yellow;
  font-family: $graph-demi;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  transition: max-width 0.25s ease-out;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
  height: 100%;
  position: absolute;
}

h1 {
  color: black;
  font-family: 'LubalinGraphStd-Demi';
  font-size: 55px;
  letter-spacing: -1px;
  padding: 150px 0 10px;
  margin: 0;
}

h1::after {
  content: '';
  width: 48px;
  height: 2px;
  background: #000000;
  position: absolute;
  margin-top: 80px;
  margin-left: -570px;
}

h2 {
  color: white;
  margin-top: 1.5em;
}

a {
  apperance: none;
  text-decoration: none;
  color: black;
  font-family: $graph;
}

p {
  font-family: $graph;
}

nav {

  .nav-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
    // background-color: $yellow;
    position: fixed;
    z-index: 100;
  } // end nav-wrapper

  ul {
    display: flex;
    margin: 0;
    padding: 12px 0;
    list-style-type: disc;
    li {
      line-height: 1;
      list-style-type: none;
      padding: 4px 24px 0 24px;
      display: list-item;
      text-align: -webkit-match-parent;
    }
    li:nth-child(1){
      padding-left: 0px;
    }
  } // End ul

  .logo {
    width: 100px;
    margin-top: -10px;
  } // End logo
  // End nav
}

.shadow {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  transform: translateY(-2px);
}

.welcome {
  width: 100%;
  height: 100%;
  padding: 50px;

  #arrow {
    position: absolute;
    bottom: 48px;
    cursor: pointer;
    padding: 16px;
    margin: -16px;
    height: 25px;
  }

  #envelope {
    position: absolute;
    bottom: 48px;
    cursor: pointer;
    padding: 16px;
    margin: -16px;
    height: 55px;
  }

  .blueprint {
    transform: rotate(-31deg);
    width: 1820px;
  }

} //end welcome

.about {

  p {
    text-align: justify;
    column-count: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: $yellow;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.section-wrapper {
  height: 80vh;
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px;

  h2 {
    
  }

  h2::after {
  content: '';
  width: 48px;
  height: 2px;
  background: #000000;
  position: absolute;
  margin-top: 40px;
  left: 50px;
  }
} // end section-wrapper

.grey {
  background-color: #EAEEEE;
}

.doc {
  font-size: 14px;
  margin: 0;
  margin-top: 35px;
}
  
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
  }

  .doc a {
    color: rgba(0, 0, 0, 0.3);
  }
    .doc a:hover {
      color: #666;
} // end doc

.client-wrapper {
  min-width: 100%;
  padding-top: 200px;

  p {
    font-family: $graph;
  }
}

.row {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: center;
}

.client {
  margin-left: 0;
  position: relative;
  width: 45%;
  box-sizing: border-box;
  margin-bottom: 156px;
  padding-right: 40px;
}

.bug-round {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: black;
} // place holder for client logos.

.tooltip {
  display: none;
  position: relative;
  width: 120px;
  color: white;
  background-color: black;
  font-family: 'LubalinGraphStd-Book';
  padding: 5px 5px 2px 5px;
  margin: 15px;
  border-radius: 2.5px;
  text-align: center;
  z-index: 101;
  left: 100%;
}

#particles-js:hover .tooltip {
    display:block;
    position:fixed;
    overflow:hidden;
}
