---
title: Maupin Development
---

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href="#"><%= image_tag 'Logo.svg', class: 'logo' %></li>
      <li><a href="#" id="link-projects">Projects</a></li>
      <li><a href="#partners" id="link-partners">Partners</a></li>
      <li><a href="#" id="link-about">About</a></li>
      <li><a href="#" id="link-contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="particles-js"></div>

<div class="welcome">
  <h1>Maupin Development</h1>
  <p class="doc">
    Over 30 years of experience in the South Bay.<br>
    <%= link_to " Click Here for Maupin Realtors", "http://maupinrealtors.com/" %>
  </p><!-- .doc -->
  <a href="#projects">
    <%= image_tag 'Arrow.svg', id: 'arrow' %>
    </a>
</div><!-- .welcome -->

<div id="projects" class="section-wrapper">
  <h2>Completed Projects</h2>
</div>

<div id="partners" class="section-wrapper grey">
  <h2>Partners</h2>
  <div class="client-wrapper">
    <div class="row">
      <div class="client">
        <div class="bug-round"></div>
        <p>Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum.</p>
      </div>
      <div class="client">
        <div class="bug-round"></div>
        <p>Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum.</p>
      </div>
    </div>
    <div class="row">
      <div class="client">
        <div class="bug-round"></div>
        <p>Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum.</p>
      </div>
      <div class="client">
        <div class="bug-round"></div>
        <p>Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum.</p>
      </div>
    </div>
    <div class="row">
    <div class="client">
      <div class="bug-round"></div>
      <p>Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum.</p>
    </div>
    </div>
  </div>
</div>

<div id="about" class="section-wrapper about">
  <h2>About</h2>
  <p>Starting in 1985, Doug Maupin began developing residential projects in and around the South Bay along with his active brokerage business. Maupin Development developed 15 different real estate projects from 1990 to the year 2000 that summed over 300 residential units. His partners included, but not limited to, Sierra Nevada Development, Mark Mitchell, Storm Western Development, Claudia Storm, and JCC homes. In the year 2000, Doug formed a very successful relationship with Ray Watt of the Watt Companies and developed over 400 units in and around the South Bay between 2000 and 2008.</p>
</div>

<div id="contact" class="section-wrapper grey">
  <h2>Contact</h2>
</div>
