---
title: Maupin Development
---

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href="#"><%= image_tag 'Logo.svg', class: 'logo' %></li>
   
      <li><a href="mailto:info@maupindevelopment.com">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="particles-js">
  <span class="tooltip">Click to Build</span>
</div>

<div class="welcome">
  <h1>Maupin Development</h1>
  <div>
    <h2>Under construction, new site coming soon.</h2>
    <p class="doc">
      Over 30 years of experience in the South Bay.<br>
      <%= link_to " Click Here for Maupin Realtors", "http://maupinrealtors.com/" %>
    </p><!-- .doc -->
    <a href="mailto:info@maupindevelopment.com">
      <%= image_tag 'Envelope.svg', id: 'arrow', class: 'shadow' %>
    </a>
    <p class="doc">23505 Crenshaw Blvd. Suite 208, Torrance CA 90505<br>
    310.530.8457</p>
  </div>
</div><!-- .welcome -->
